// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: @background-color;
}

/*Variables */ 

@import url('https://fonts.googleapis.com/css?family=Abel|Fjalla+One&display=swap');

@main-font: #3F6083;
@heading-color: #0C2A31;
@font-color: #171219;
@accent-color: #114B5F;
@background-color: #ECEBE4;

@header-font: 'Fjalla One', sans-serif;
@text-font: 'Abel', sans-serif;

/*mix-ins */

.flex() {
	display: flex;
	flex-flow: row none;
	justify-content: space-between;
}

.flexmobile() {
	display: flex;
	flex-flow: column none;
	justify-content: center;
}

.image() {
	display: flex;
	justify-content: center;
	padding: 2%;
}

/* Styling */

.container {
	line-height: 1.5;
	padding: 3%;
	font-family: @text-font;

	@media (max-width 500px){
			.flexmobile();
			background-color: @accent-color;
		}

	.header {
		.flex();
		width: 100%;

			.nav {
				.flex();
				width: 100%0%;
				
				a { .flex(); 
					text-decoration: none;
					color: @background-color;
					font-family: @text-font;
					background-color: @accent-color;
				}

				a:hover {
					text-decoration: underline;
				}

				a:visited {
					text-decoration: none;
				}
		}
	}

	h1 {
		color: @heading-color;
		font-family: @header-font;
		font-size: 3rem; 
	}
	.headshot{
		.image();
	}
	section {
		border-top: 1px solid @heading-color;
		background-color: @background-color;

		.content {
			width: 100%;
			.flex();
		}

		.text {
			padding: 3%;
			width: 45%;
		}

		.table {
			width: 75%;
			tr:nth-child(even) {background-color: #f2f2f2;}
			padding: 2%;
			
			.tg  {
				border-collapse: collapse;
				border-spacing: 0;}

				td {
					font-family:@text-font;
					font-size: 1.4rem;
					padding:10px 5px;
					border-style:solid;
					border-width: 1px;
					overflow:hidden;
					word-break: normal;
					border-color:@accent-color
				}

				th {
					font-family: @text-font;
					font-size:1.4rem;
					font-weight: normal;
					background-color: @accent-color;
					color: @background-color;
					padding:10px 5px;
					border-style:solid;
					border-width:1px;
					overflow:hidden;
					word-break:normal;
					border-color:@accent-color;
				}
				
					.tg-fymr{
						font-weight:bold;
						border-color:inherit;
						text-align:left;
						vertical-align:top
					}
				
					.tg-0pky{
						border-color:inherit;
						text-align:left;
						vertical-align:top
					}
		}

		h2 {
			color: @accent-color;
			font-family: @header-font;
			font-size: 1.5rem;
		}
	}	

	footer {
		.flex();
		padding: 2%;
		text-align: center;
	}
}